<a href="https://colab.research.google.com/github/brook-miller/2023mbai417/blob/main/3-homework/eda_on_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this assignment, your group will be conducting Exploratory Data Analysis using bank credit card churn data.  Your team's job is to assess the quality of the data and develop some insights into which customers attrit or churn.

Document your findings throughout the exploration.

Description of the dataset variables
* CLIENTNUM - Client number. Unique identifier for the customer holding the account
* Attrition_Flag - Internal event (customer activity) variable - if the account is closed then Attrited else Existing
* Customer_Age - Demographic variable - Customer's Age in Years
* Gender - Demographic variable - M=Male, F=Female
* Dependent_count - Demographic variable - Number of dependents
* Education_Level - Demographic variable - Educational Qualification of the account holder (example: high school, college graduate, etc.)
* Marital_Status - Demographic variable - Married, Single, Divorced, Unknown
* Income_Category - Demographic variable - Annual Income Category of the account holder (< $40K , $40K - 60K, $60K - $80K, $ - $120K, > $120K, Unknown)
* Card_Category - Product Variable - Type of Card (Blue, Silver, Gold, Platinum)
* Months_on_book - Period of relationship with bank
* Total_Relationship_Count - Total no. of products held by the customer
* Months_Inactive_12_mon - No. of months inactive in the last 12 months
* Contacts_Count_12_mon - o. of Contacts in the last 12 months
* Credit_Limit - Credit Limit on the Credit Card
* Total_Revolving_Bal - Total Revolving Balance on the Credit Card
* Avg_Open_To_Buy - Open to Buy Credit Line (Average of last 12 months)
* Total_Amt_Chng_Q4_Q1 - Change in Transaction Amount (Q4 over Q1)
* Total_Trans_Amt - Total Transaction Amount (Last 12 months)
* Total_Trans_Ct - Total Transaction Count (Last 12 months)
* Total_Ct_Chng_Q4_Q1 - Change in Transaction Count (Q4 over Q1)
* Avg_Utilization_Ratio - Average Card Utilization Ratio

Some questions to help you get started:
* How are Customer demographics (age, gender, ...) distributed?
* How does the Income category distribution vary based on education level
* How is Credit limit changing based on gender and marital status
* What type of cards are people using based on their age groups
* What could be the cause of attrition (customers dropping off the credit card service)?

In the last cell, assess the data quality.  Does it appear to be accurate?  Are the missing / unknown values especially significant?  Are there clear signals that can be used in downstream model to predict churn?

In [16]:
#@title Standard imports - we'll use in most EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/brook-miller/2023mbai417/main/3-homework/bankchurn4.csv')
df

Warning: Total number of columns (21) exceeds max_columns (20). Falling back to pandas display.

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,1,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189