<a href="https://colab.research.google.com/github/brook-miller/2023mbai417/blob/main/1-class/2023_mbai417_2_instacart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up the environment

In [1]:
#@title installs for sqlalchemy and sqlmagic
!pip install sqlalchemy-redshift==0.8.8 --quiet
!pip install redshift_connector==2.0.901 --quiet
!pip install ipython-sql==0.4.0 --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.9/94.9 KB 4.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.3/10.3 MB 59.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.7/132.7 KB 12.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 12.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 KB 35.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 KB 9.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.6/140.6 KB 15.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 KB 9.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 29.7 MB/s eta 0:00:00
  Building wheel for prettytable (setup.py) ... done

In [2]:
#@title standard imports - we'll use in most EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [5]:
#@title setting up sql connection and sql magic, unique to this lab

import getpass
import sqlalchemy as sa
from sqlalchemy.engine.url import URL
from sqlalchemy import orm as sa_orm

connect_to_db = URL.create(
drivername='redshift+redshift_connector',     
host='mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com',     
port=5439,  
database='dev',  
username='mbai417',         #username should not be hard coded either
password=getpass.getpass()  #please don't put passwords into code
)

engine = sa.create_engine(connect_to_db)
%reload_ext sql
%sql $connect_to_db

··········

# Finding the "lift" (more interesting results)

From our previous analysis we found bananas as the top product purchased with pizza which is very similar to our top products overall.

Rather than top products we really want to know which products occur more often with pizza. 

This is a conditional probability $P(A|B)$ where A is pizza and B is our other products.  When we compare the joint probability vs. the probability they are independent, we have the value which is known as lift in retail market basket analysis.  These likelihood ratios show up in a variety of analysis.

$\frac {P(A|B)}  {P(A)P(B)}$

This simplifies to be 
(A&B Orders * Total Orders) / (A Orders * B Orders)

In [6]:
#@title resultset for total order count
%%sql

totalorders << 
with totalorders as (
    select distinct order_id from order_products
) 
select count(*) from totalorders

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.
Returning data to local variable totalorders

&nbsp;

&nbsp;

&nbsp;

&nbsp;

In [7]:
#@title resultset for pizza order count
%%sql 

pizzaorders << 
with pizzaorders as (
  select distinct op.order_id from order_products op
  inner join products p on p.product_id = op.product_id
  where p.product_name ilike('%pizza%')
) 
select count(*) from pizzaorders

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.
Returning data to local variable pizzaorders

&nbsp;

&nbsp;

&nbsp;

&nbsp;

In [8]:
#@title converting result sets to integers
totalorders = totalorders.dict()['count'][0]
pizzaorders = pizzaorders.dict()['count'][0]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

In [9]:
#@title listing the top products overall
%%sql
select p.product_name as product, min(p.product_id) as product_id, count(*) as order_count from order_products op
inner join products p on p.product_id = op.product_id
group by product
order by order_count desc
limit 10

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana', 24852, 472565),
 ('Bag of Organic Bananas', 13176, 379450),
 ('Organic Strawberries', 21137, 264683),
 ('Organic Baby Spinach', 21903, 241921),
 ('Organic Hass Avocado', 47209, 213584),
 ('Organic Avocado', 47766, 176815),
 ('Large Lemon', 47626, 152657),
 ('Strawberries', 16797, 142951),
 ('Limes', 26209, 140627),
 ('Organic Whole Milk', 27845, 137905)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

In [10]:
#@title listing the top products with pizza
%%sql
  with pizzaorders as (
      select distinct op.order_id from order_products op
      inner join products p on p.product_id = op.product_id
      where p.product_name ilike('%pizza%')
  )
  select p.product_name as product_name, min(p.product_id) as product_id, count(op.order_id) as order_count from order_products op
  inner join products p on op.product_id = p.product_id
  inner join pizzaorders po on po.order_id = op.order_id
  where NOT (p.product_name ilike('%pizza%'))
  group by p.product_name
order by order_count desc
limit 10

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana', 24852, 37419),
 ('Bag of Organic Bananas', 13176, 24810),
 ('Organic Strawberries', 21137, 20060),
 ('Organic Baby Spinach', 21903, 15733),
 ('Organic Hass Avocado', 47209, 15413),
 ('Organic Avocado', 47766, 13104),
 ('Strawberries', 16797, 11287),
 ('Large Lemon', 47626, 10369),
 ('Organic Raspberries', 27966, 10201),
 ('Organic Whole Milk', 27845, 9801)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

In [11]:
#@title calculating lift, products more likely to be ordered with pizza
%%sql
with toppizzaproducts as (
  with pizzaorders as (
        select distinct op.order_id from order_products op
        inner join products p on p.product_id = op.product_id
        where p.product_name ilike('%pizza%')
    )
    select p.product_name as product, min(p.product_id) as product_id, count(op.order_id) as order_count from order_products op
    inner join products p on op.product_id = p.product_id
    inner join pizzaorders po on po.order_id = op.order_id
    where NOT (p.product_name ilike('%pizza%'))
    group by product
), topproducts as (
  select p.product_name as product, min(p.product_id) as product_id, count(*) as order_count from order_products op
  inner join products p on p.product_id = op.product_id
  group by product
) 
select p.product, p.order_count as pizzacount, t.order_count as totalcount, (pizzacount::float * 3214874) / (totalcount * 188355) lift from toppizzaproducts p
inner join topproducts t on t.product_id = p.product_id
where totalcount > .01*3214874
order by lift desc
limit 20

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Uncured Genoa Salami', 4677, 41473, 1.924813789154729),
 ('100% Whole Wheat Bread', 6408, 60816, 1.7984213674672695),
 ('2% Reduced Fat Milk', 3798, 37091, 1.7477254930479726),
 ('Organic Sticks Low Moisture Part Skim Mozzarella String Cheese', 3488, 34209, 1.7402951115899115),
 ('Organic Whole String Cheese', 6077, 59676, 1.7381063015784515),
 ('Shredded Parmesan', 3567, 36365, 1.6741960790789052),
 ('Organic Broccoli Florets', 3139, 32887, 1.629122945004818),
 ('Grated Parmesan', 3987, 45238, 1.504283328801425),
 ('Clementines, Bag', 3507, 39825, 1.503027007792364),
 ('Organic Black Beans', 3287, 38001, 1.476357320613354),
 ('Organic Reduced Fat Milk', 3081, 35663, 1.47455381739279),
 ('Original Hummus', 6120, 71314, 1.4647497363504596),
 ('Organic Peeled Whole Baby Carrots', 4687, 55371, 1.4447722438823511),
 ('Seedless Red Grapes', 6829, 82689, 1.4096009246736991),
 ("Organic D'Anjou Pears", 4005, 48915, 1.3974853557688014),
 ('Orange Bell Pepper', 3188, 39188, 1.3885196060148974),
 ('Organic Grape Tomatoes', 6783, 84255, 1.374082906933996),
 ('Broccoli Crown', 3364, 42044, 1.3656479677545919),
 ('Whole Milk', 2836, 35633, 1.3584405648973503),
 ('Banana', 37419, 472565, 1.3515042855743258)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;