<a href="https://colab.research.google.com/github/brook-miller/2023mbai417/blob/main/1-class/2023_mbai417_1_instacart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up the environment

In [1]:
#@title installs for sqlalchemy and sqlmagic
!pip install sqlalchemy-redshift --quiet
!pip install redshift_connector --quiet
!pip install ipython-sql --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.1/112.1 KB 10.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 10.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.3/10.3 MB 113.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.7/132.7 KB 15.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 KB 10.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.6/140.6 KB 22.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 KB 13.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 4.9 MB/s eta 0:00:00

In [2]:
#@title standard imports - we'll use in most EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [3]:
#@title setting up sql connection and sql magic, unique to this lab

import getpass
import sqlalchemy as sa
from sqlalchemy.engine.url import URL
from sqlalchemy import orm as sa_orm

connect_to_db = URL.create(
drivername='redshift+redshift_connector',     
host='mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com',     
port=5439,  
database='dev',  
username='mbai417',         #username should not be hard coded either
password=getpass.getpass()  #please don't put passwords into code
)
engine = sa.create_engine(connect_to_db)
%reload_ext sql
%sql $connect_to_db

··········

'Connected: mbai417@dev'

&nbsp;

&nbsp;

&nbsp;

&nbsp;

# Exploring the tables and relationships

In [4]:
#@title setting up sql connection and sql magic, unique to this lab
#@markdown redshift is based on postgres
#@markdown postgres stores a list of tablenames (and other meta data) in pg_table_df
%%sql

SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('aisles',),
 ('departments',),
 ('order_products',),
 ('orders',),
 ('products',)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

In [5]:
#@title fetching sample data from the tables
temp = %sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';
tables = temp.DataFrame()["tablename"].tolist()
tables

for table in tables:
    sql = f'select * from {table} limit 100'
    print(sql)
    globals()[table + '_df'] = pd.read_sql(sql, engine)

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.
select * from aisles limit 100
select * from departments limit 100
select * from order_products limit 100
select * from orders limit 100
select * from products limit 100

&nbsp;

&nbsp;

&nbsp;

&nbsp;

![](https://raw.githubusercontent.com/brook-miller/2023mbai417/main/1-class/instacart-relations.png)

&nbsp;

&nbsp;

&nbsp;

&nbsp;

# Building the SQL query

In [6]:
#@title most frequently ordered products
%%sql

select product_id, count(*) as product_count from order_products
group by product_id
order by product_count desc
limit 10

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(24852, 472565),
 (13176, 379450),
 (21137, 264683),
 (21903, 241921),
 (47209, 213584),
 (47766, 176815),
 (47626, 152657),
 (16797, 142951),
 (26209, 140627),
 (27845, 137905)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

In [7]:
#@title joining to get product names
%%sql

select p.product_name as product, count(*) as product_count from order_products op
inner join products p on p.product_id = op.product_id
group by product
order by product_count desc
limit 10

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana', 472565),
 ('Bag of Organic Bananas', 379450),
 ('Organic Strawberries', 264683),
 ('Organic Baby Spinach', 241921),
 ('Organic Hass Avocado', 213584),
 ('Organic Avocado', 176815),
 ('Large Lemon', 152657),
 ('Strawberries', 142951),
 ('Limes', 140627),
 ('Organic Whole Milk', 137905)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;
  
&nbsp;

&nbsp;

In [8]:
#@title getting the pizza products using ilike (insensitive like)
%%sql

select p.product_name as product, count(*) as product_count from order_products op
inner join products p on p.product_id = op.product_id
where product ilike('%pizza%')
group by product
order by product_count desc
limit 10

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Organic Cheese Frozen Pizza', 14313),
 ('Thin Crust Pepperoni Pizza', 10386),
 ('Cheese Pizza Snacks', 8483),
 ('Cheese Pizza', 7010),
 ('Margherita Pizza', 6700),
 ('Four Cheese Thin Crust Pizza', 6066),
 ('Spinach Pizza', 5112),
 ('Pizza Sauce', 4906),
 ('Pizza 4 Cheese', 4431),
 ('Thin Crust Margherita Pizza with Fresh Mozzarella & Basil', 4276)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;
  
&nbsp;

&nbsp;

In [9]:
#@title using sub query as the table in a query
%%sql 

select count(*) from (
    select op.order_id from order_products op
    inner join products p on p.product_id = op.product_id
    where p.product_name ilike('%pizza%')
)

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(225921,)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;
  
&nbsp;

&nbsp;

In [10]:
#@title adding distinct to so we don't duplicate the order ids
%%sql 

select count(*) from (
    select distinct op.order_id from order_products op
    inner join products p on p.product_id = op.product_id
    where p.product_name ilike('%pizza%')
)

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(188355,)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;
  
&nbsp;

&nbsp;

In [11]:
#@title simplifying using common table expressions
%%sql

with pizzaorders as (
    select distinct op.order_id from order_products op
    inner join products p on p.product_id = op.product_id
    where p.product_name ilike('%pizza%')
) select count(*) from pizzaorders

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(188355,)]

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;
  
&nbsp;

&nbsp;

In [12]:
%%sql

with pizzaorders as (
    select distinct op.order_id from order_products op
    inner join products p on p.product_id = op.product_id
    where p.product_name ilike('%pizza%')
)
select p.product_name as product_name, min(p.product_id) as product_id, count(op.order_id) as order_count from order_products op
inner join products p on op.product_id = p.product_id
inner join pizzaorders po on po.order_id = op.order_id
where NOT (p.product_name ilike('%pizza%'))
group by p.product_name
order by order_count desc
limit 20

 * redshift+redshift_connector://mbai417:***@mbai417-redshift-cluster.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana', 24852, 37419),
 ('Bag of Organic Bananas', 13176, 24810),
 ('Organic Strawberries', 21137, 20060),
 ('Organic Baby Spinach', 21903, 15733),
 ('Organic Hass Avocado', 47209, 15413),
 ('Organic Avocado', 47766, 13104),
 ('Strawberries', 16797, 11287),
 ('Large Lemon', 47626, 10369),
 ('Organic Raspberries', 27966, 10201),
 ('Organic Whole Milk', 27845, 9801),
 ('Limes', 26209, 9149),
 ('Organic Yellow Onion', 22935, 7610),
 ('Cucumber Kirby', 49683, 7215),
 ('Organic Garlic', 24964, 6908),
 ('Seedless Red Grapes', 4920, 6829),
 ('Organic Grape Tomatoes', 40706, 6783),
 ('Organic Zucchini', 45007, 6594),
 ('Apple Honeycrisp Organic', 8277, 6585),
 ('100% Whole Wheat Bread', 5077, 6408),
 ('Organic Blueberries', 39275, 6367)]