<a href="https://colab.research.google.com/github/brook-miller/2023mbai417/blob/main/2-class/ai_cloud_inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title standard imports - we'll use in most EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/brook-miller/2023mbai417/main/2-class/ai_inference.csv')

df["return"] = (df["revenue"]- df["cost"]) / df["cost"]

df.groupby(['new_machine'])['return'].mean()

new_machine
0    5.689762
1    4.950537
Name: return, dtype: float64